.back {
    cursor: pointer;

    i {
        margin-right: 10px;
    }
}

.radio-group {
    padding: 20px 10px;
}

ul.empty {
    margin: 0;
    height: 18px;
}

[class^=ingredients] {
    height: 25vh;
    margin: 20px 0;
    padding: 0 10px;
    border: 1px solid black;
    border-radius: 2px;
}